<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETILS</title>
    <style>
        .container {
            margin: 0 auto;
            max-width: 600px;
        }

        .spacer {
            padding: 20px;
            word-break: break-word;
        }

        .btn-primary {
            display: inline-block;
            background: #5168ec;
            color: white;
            font-family: Helvetica, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 17px;
            font-weight: 400;
            line-height: 29px;
            margin: 0;
            text-decoration: none;
            text-transform: none;
            padding: 10px 25px;
            border-radius: 3px
        }
    </style>
</head>

<body>
    <div class="container">
        <div
            style="width: 100%; text-align: center; padding: 15px; background: #202c45; font-size: 25px; font-weight: bold; margin-bottom: 20px; border-radius: 8px; font-style: italic; color: #fff; margin-top: 20px;">
            etils
        </div>
        {{{body}}}
    </div>
</body>

</html>