<h2 class="spacer" style="display: flex;">
    <img height="50" width="50"
        style="border-radius:4px;vertical-align:middle;width:50px;height:50px margin-right: 10px;"
        src="https://ci3.googleusercontent.com/proxy/2hcehr6lEpEvKtNPDtS9gp5gkt7kyhjaKrCi-wySapvBgx-k6td9UzFeXurPly93W7FWEV5gI5ihsBY8CQXt3USwQFuoC1tV6TJrh68s3GQ=s0-d-e1-ft#https://assets.slite.com/illustrations/avatar-placeholder.png"
        class="CToWUd" />
    <div style="font-size: 22px; padding-left: 10px;">{{ title }}'s workspace</div>
</h2>
<p class="spacer" style="padding-left: 35%;">
    <a href="{{ link }}" target="_blank" class="btn-primary">Accept Invitation</a>
</p>
<p class="spacer">
    Or paste this link in your browser: <a href="{{ link }}" target="_blank">{{ link }}</a>
</p>